:host {

  .vertically-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tipping-container {
    padding: 12px;
  } 

  h2 {
    margin-top: -58px;
    padding-right: 36px;
    text-align: center;
  }

  .mode-selections-wrapper {
    display: flex;
    justify-content: space-around;

    button {
      font-size: 18px;
      padding: 4px 8px;
      border: none;
      border-radius: 2px;
      width: 50%;
      background-color: white;
      border: 2px solid grey;
      color: grey;

      &:nth-child(2) {
        margin: 0 4px;
      }

      &:hover:not(.selected) {
        color: black;
        border: 2px solid black;
      }

      &.hidden {
        display: none;
      }

      &.selected {
        background-color: azure;
        color: black;
        border: 2px solid blue;
      }

      &:active {
        color: blue;
        background-color: white;
      }
    }
  }

  .tipping-wrapper {
    margin-top: 12px;
    border-top: 1px solid black;

    .explanation {
      margin-bottom: 0;
      margin-top: 12px;
      font-size: 18px;
      text-align: center;
    }

    .directions {
      margin-bottom: 0;
      margin-top: 12px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

    .selector-and-button-wrapper {
      display: flex;
      width: 100%;

      button {
        box-sizing: border-box;
        width: 50%;
        max-width: 600px;
        padding-left: 8px;
        margin: 12px 0 0 12px;
        height: 29px;
        font-size: 18px;
        background-color: blue;
        border: 1px solid blue;
        border-radius: 2px;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &:active {
          color: blue;
          background-color: white;
        }
      }

      .select-wrapper {
        width: 50%;

        select {
          box-sizing: border-box;
          width: 100%;
          max-width: 600px;
          padding-left: 8px;
          margin: 12px 12px 0 0;
          height: 29px;
          font-size: 18px;
        }
      }
    }
  }

  .new-title {
    margin-top: 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;

    input {
      margin-left: 12px;
      padding: 4px;
      text-align: center;
      min-width: 350px;
      font-size: 16px;
    }
  }

  .tipping-content {
    text-align: center;

    .how-much, .how-often, .tipping-details {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(217, 229, 240);
      padding-bottom: 12px;

      h3 {
        font-size: 24px;
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
      }

      .button-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;

        button {
          box-sizing: border-box;
          width: 150px;
          // margin: 12px 0 0 12px;
          font-size: 18px;
          background-color: blue;
          border: 1px solid lightblue;
          border-radius: 6px;
          color: white;

          &:first-of-type {
            margin-right: 75px;
          }

          &:hover {
            cursor: pointer;
            border: 1px solid blue;
          }

          &:active {
            color: blue;
            background-color: white;
          }
        }
      }

      span.tip-instruction {
        display: block;
        padding: 6px 0;
        margin: 0 auto 0;
        font-size: 18px;
        width: 450px;

        &:not(.max-tip) {
          border-bottom: 1px solid grey;
        }

        input {
          width: 40px;
          font-size: 18px;
          border: 1px solid lightgrey;
          padding: 4px;
          text-align: center;
          border-radius: 4px;
          margin-left: 2px;

          &:hover {
            border: 1px solid blue;
            cursor: pointer;
          }

          &.tip-amount, &.max-tip {
            width: 20px;
          }
        }
      }

      .tip-ocassion {
        font-size: 18px;
        margin-bottom: 8px;

        input {
          width: 30px;
          font-size: 18px;
          border: 1px solid lightgrey;
          padding: 4px;
          text-align: center;
          border-radius: 4px;
          margin-left: 2px;

          &:hover {
            border: 1px solid blue;
            cursor: pointer;
          }

          &.tip-amount {
            width: 20px;
          }
        }
      }
    }
  }
}