:host {

  .vertically-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .player-maker-container {
    padding: 12px;
  } 

  h2 {
    margin-top: -58px;
    padding-right: 36px;
    text-align: center;
  }

  .mode-selections-wrapper {
    display: flex;
    justify-content: space-around;

    button {
      font-size: 18px;
      padding: 4px 8px;
      border: none;
      border-radius: 2px;
      width: 50%;
      background-color: white;
      border: 2px solid grey;
      color: grey;

      &:nth-child(2) {
        margin: 0 4px;
      }

      &:hover:not(.selected) {
        color: black;
        border: 2px solid black;
      }

      &.hidden {
        display: none;
      }

      &.selected {
        background-color: azure;
        color: black;
        border: 2px solid blue;
      }
    }
  }

  .player-maker-content-wrapper {
    margin-top: 12px;
    border-top: 1px solid black;

    .selector-and-button-wrapper {
      display: flex;
      width: 100%;

      button {
        box-sizing: border-box;
        width: 50%;
        max-width: 600px;
        padding-left: 8px;
        margin: 12px 0 0 12px;
        height: 29px;
        font-size: 18px;
        background-color: blue;
        border: 1px solid blue;
        border-radius: 2px;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &:active {
          color: blue;
          background-color: white;
        }
      }

      .select-wrapper {
        width: 50%;

        select {
          box-sizing: border-box;
          width: 100%;
          max-width: 600px;
          padding-left: 8px;
          margin: 12px 12px 0 0;
          height: 29px;
          font-size: 18px;
        }
      }
    }

    .player-content {
      padding-top: 12px;

      .player-wrapper {
        background-color: aquamarine;
        width: 100%;

        .player {
          display: flex;
          justify-content: space-between;
          padding: 6px 8px;
          font-size: 16px;
  
          .checkbox-wrapper {
            width: 24px;
  
            input {
              width: 20px;
              height: 20px;
            }
          }

          .select-wrapper {
            width: 150px;
  
            select {
              padding: 2px;
              width: 150px;
              height: 24px;
            }
          }
  
          .text-wrapper {
            width: 52px;
  
            input {
              width: 45px;
              text-align: center;
            }
          }

          .text-area-wrapper {
            width: 70%;
  
            textarea {
              width: calc(100% - 14px);
              max-width: calc(100% - 14px);
              min-width: calc(100% - 14px);
              padding: 4px 6px;
              margin-bottom: -4px;
              min-height: 31px;
              max-height: 95px;
            }
          }
        }
  
        &:nth-child(odd) {
          background-color: aqua;
        }
  
        &.handle {
          flex-direction: column;
          padding-top: 6px;
          
          span {
            padding-left: 8px;
            text-align: center;
          }

          input {
            margin: 4px 8px 8px;
            width: calc(100% - 24px);
            padding: 2px;
          }
        }
      }
    }
  }
}